service cloud.firestore {
  match /databases/{database}/documents {
    match /games/{document} {
      allow read: if request.auth.uid in resource.data.Members;
      match /log/{logid} {
        allow read: if request.auth.uid in get(/databases/$(database)/documents/games/$(document)).data.Members;
      }
      match /data/{userid} {
        allow read: if request.auth.uid == userid;
      }
    }
  }
}
