/* Chips */
.za{ background-position: -0px -0px; }
.zb{ background-position: -129px -0px; }
.zc{ background-position: -258px -0px; }
.zd{ background-position: -387px -0px; }
.ze{ background-position: -516px -0px; }
.zf{ background-position: -645px -0px; }
