
  div.card {
    display: inline-block;
    background-image: url('/cards.png');
    background-repeat: no-repeat;
    height: 80px;
    width: 60px;
  }

  div.hand {
    display: inline-block;
    height: 80px;
  }

  div.shrink {
    transform: scale(0.5);
    transform-origin: 0 0;
  }

  div.myhand {
    display: inline-block;
    padding: 5px;
    background-color: lightgreen;
    transform: scale(2.0);
    transform-origin: 0 0;
  }

  div.board {
    display: block;
    height: 80px;
  }

  div.bg {
    background-image: url('/cardback1.png');
    background-size: 60px 80px;
    background-repeat: repeat;
    width: 60px;
    height: 80px;
    display: inline-block;
  }

  div.hand .card:not(:first-child) {
    margin-left: -20px;
  }

  ul.pile {
    vertical-align: bottom;
    display: inline-block;
    position: relative;
    list-style-type: none;
    left: 5px;
    height: 154px;
    width: 129px;
    margin: 0;
    padding: 0;
  }

  ul.pile li {
    padding: 0;
    margin: 0;
    position: relative;
    width: 129px;
  }
  ul.pile li:not(:first-child) {
    margin-top: -10px;
    height: 5px;
  }

  ul.pile li:first-child {
    margin-top: 50px;
    height: 45px;
  }

  div.chip {
    display: inline-block;
    background-image: url('/allchips.png');
    background-repeat: no-repeat;
    width: 129px;
    height: 59px;
  }

  div.playerinfo {
    position: absolute;
    display: inline-block;
    background-color: #ffffffaa;
    border: 3px solid black;
    border-radius: 10px;
    width: 220px;
    height: 130px;
    transform-origin: 0 0;
    transform: scale(0.8);
    margin-left: -110px;
  }

  div.playerinfo.TURN {
    background-color: #ffff00aa;
  }

  div.playerinfo.BET {
    background-color: #ffccccaa;
  }

  div.playerinfo.WAITING {
    background-color: #ccffccaa;
  }

  div.playername {
    padding: 5pt;
    font-size: 120%;
    font-weight: bold;
    height: 24px;
  }
  div.playername > tt {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    font-size: 20px;
    color: darkred;
  }

  div.pot {
    position: absolute;
    display: inline-block;
    text-align: right;
    padding: 5px;
    height: 40px;
    width: 220px;
    margin-left: -75px;
    top: 55%;
    left: 50%;
  }

  div.playerbet {
    position: absolute;
    display: inline-block;
    text-align: right;
    padding: 5px;
    height: 40px;
    width: 220px;
    margin-left: -75px;
  }

  tt.betamt {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 10px;
    color: white;
  }

  div.smallpiles {
    width: 1200px;
    height: 120px;
    position: relative;
    text-align: left;
    transform: scale(0.20);
    transform-origin: 0 0;
  }

  div.playerstate {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
  }

  div.playerhand {
    position: absolute;
    bottom: 10px;
    right: 10px;
    transform-origin: 100% 100%;
    transform: scale(0.6);
  }

  div.board {
    position: absolute;
    top: 45%;
    left: 50%;
    transform-origin: 0 0;
    transform: scale(0.8);
    margin-left: -120px;
  }

  div.playerpiles {
    position: relative;
    padding: 5px;
    height: 40px;
    width: 220px;
  }

  div.pokertable {
    position: relative;
    background-image: url('/feltbg.png');
    height: 600px;
    width: 1000px;
    transform-origin: 0 0;
    transform: scale(0.6);
  }
  
  div#tables {
    height: 370px;
    width: 600px;
  }

  div.gamebuttons {
    z-index: 10;
  }

  div.tables {
    z-index: 40;
  }

  div.GameButtons {
    background-color: #ddffddaa;
    border: 1px solid red;
  }

  button.gamecommand {
    display: block;
    background-color: gray;
    padding: 1em;
  }
