  div.dealerbutton {
    display: inline-block;
    position: absolute;
    background-image: url('/dealerbutton.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    top: -5px;
    left: -10px;
    height: 40px;
    width: 40px;
    z-index: 80;
  }

  div.cardwrap {
    display: inline-block;
    height: 90.75px;
    width: 60.5px;
  }

  div.card {
    display: inline-block;
    background-image: url('/allcards.png');
    background-color: white;
    background-repeat: no-repeat;
    height: 258.8px;
    width: 185.2px;
    border: 2px solid black;
    border-radius: 8px;
    transform: scale(0.4);
    transform-origin: 0 0;
  }

  div.hand {
    display: inline-block;
    height: 80px;
  }

  div.shrink {
    transform: scale(0.5);
    transform-origin: 0 0;
  }

  div.cardsettings {
    display: inline-block;
    position: absolute;
    background-image: url('/cardsettings.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left: 32px;
    padding-top: 5px;
    top: 5px;
    left: 5px;
    height: 30px;
    width: 30px;
  }

  div.tableopts {
    position: absolute;
    top: 60px;
    left: 10px;
    color: white;
    width: 200px;
    height: 200px;
  }

  div.tinfo {
    padding: 3px;
    font-size: 14pt;
    font-weight: bold;
  }

  div.tinfo > tt {
    color: yellow;
    font-weight: bold;
    font-size: 16pt;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .eventanim {
    display: inline-block;
    position: absolute;
    font-weight: 900;
    font-size: 24pt;
    color: gold;
    font-family: "Courier New", Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .raiseimage {
    background-size: 120px 40px;
    width: 120px;
    height: 40px;
  }
  .raiseimage.Allin { background-image: url('/evtAllin.png'); }
  .raiseimage.Bet { background-image: url('/evtBet.png'); }
  .raiseimage.Call { background-image: url('/evtCall.png'); }
  .raiseimage.Check { background-image: url('/evtCheck.png'); }
  .raiseimage.Folded { background-image: url('/evtFolded.png'); }
  .raiseimage.Raise {
    background-size: 115px 60px;
    width: 115px;
    height: 60px;
    background-image: url('/evtRaise.png');
  }

  div#lower {
    display: inline-block;
    position: relative;
    margin-top: 30px;
    width: 580px;
    height: 300px;
  }

  div.indicator {
    position: relative;
    left: 300px;
    top: -10px;
    height: 30px;
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding: 4px;
    background-color: #ddddffaa;
    border: 1px solid red;
    z-index: 30;
  }

  div#logscreen {
    display: inline-block;
    overflow-y: scroll;
    width: 400px;
    height: 240px;
    position: relative;
    left: 20px;
    top: 20px;
    color: white;
    font-size: 18px;
  }
  #logscreen p {
    display: block;
    padding: 0;
    margin: 0;
  }
  button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: lightgray;
  }
  button:disabled {
    background-color: darkgray;
  }
  button:enabled:active {
    background-color: gray;
  }
  button.hold {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
  button.hold:enabled:active {
    background-color: black;
    box-shadow: 0px 0px 12px 12px #9999eedd;
    transition: box-shadow 0s ease 0.3s, background-color 0.4s ease 0s;
  }
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  div#logbet {
    position: relative;
    overflow-y: hidden;
    height: 260px;
  }

  div.betplaque {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 90px;
    display: inline-block;
    float: right;
    padding: 5px;
    background-color: #ffddddaa;
    border: 1px solid red;
    z-index: 30;
  }

  input#betval {
    font-size: 14pt;
    margin-bottom: 5px;
    width: 70px;
    text-align: right;
  }

  div.bg {
    background-image: url('/cardback1.png');
    background-repeat: none;
    background-size: 185.2px 258.8px;
    height: 258.8px;
    width: 185.2px;
    display: inline-block;
  }

  div#allcards .cardwrap {
    margin-left: 15px;
  }

  div#allcards {
    margin-top: 10px;
    height: 100px;
    transform: scale(0.8);
    transform-origin: 0 0;
  }

  div.hand .cardwrap:not(:first-child) {
    margin-left: -35px;
  }

  div.pilecontainer {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    height: 154px;
    width: 129px;
  }
  ul.pile {
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 0px;
    list-style-type: none;
    left: 5px;
    width: 129px;
    margin: 0;
    padding: 0;
  }

  ul.pile li {
    padding: 0;
    margin: 0;
    position: relative;
    width: 129px;
    margin-top: -10px;
    height: 5px;
  }

  div.chip {
    display: inline-block;
    background-image: url('/allchips.png');
    background-repeat: no-repeat;
    width: 129px;
    height: 59px;
  }

  div.playerinfo {
    position: absolute;
    display: inline-block;
    width: 220px;
    height: 130px;
    margin-left: -110px;
  }

  div.playerdata {
    z-index: 10;
  }

  div.playerdatabg.TURN {
    box-shadow: 0px 0px 40px 40px #9999eedd;
  }
  div.myhand {
    z-index: 5;
  }

  div.playerlisting {
    display: block;
    position: relative;
    width: 300px;
    height: 60px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: gray;
    margin: 10px;
  }
  button#kick {
    display: block;
    position: absolute;
    width: 90px;
    height: 25px;
    right: 5px;
    bottom: 5px;
  }

  div.playerdatabg {
    z-index: 1;
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 220px;
    height: 80px;
    background-color: #bbbbbbdd;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
  }

  div.playerdata {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 220px;
    height: 80px;
    background-color: #bbbbbbdd;
    border: 3px solid black;
    border-radius: 10px;
    color: black;
  }

  div.playerdata.FOLDED {
    background-color: #666666dd;
  }

  div.playerdata.Offline {
    border-color: #ff0000dd;
  }

  div.playerdata.Active {
    border-color: #ffffffdd;
  }

  div.playerdata.Idle {
    border-color: #0000ffdd;
  }

  div.playerdata.Asleep {
    border-color: #990099dd;
  }

  img.statusicon {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 30px;
    height: 30px;
  }

  div.playername {
    padding: 5pt;
    font-size: 120%;
    font-weight: bold;
    height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px
  }
  tt.cash {
    position: absolute;
    right: 5px;
    bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    color: darkred;
  }

  div.pot {
    position: absolute;
    display: inline-block;
    text-align: right;
    padding: 5px;
    height: 40px;
    width: 220px;
    margin-left: -75px;
    top: 340px;
    left: 550px;
  }

  div.playerbet {
    position: absolute;
    display: inline-block;
    text-align: right;
    padding: 0px;
    height: 60px;
    width: 80px;
    margin-left: -75px;
  }

  div.potchip {
    width: 80px;
    position: relative;
    background-image: url('/potchip.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left: 33px;
    text-align: left;
    font-size: 20pt;
    color: gold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-stroke-width: 1px;
    text-stroke-color: black;
  }

  div.betchip {
    width: 80px;
    position: relative;
    background-image: url('/betchip.png');
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left: 33px;
    text-align: left;
    font-size: 20pt;
    color: gold;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-stroke-width: 1px;
    text-stroke-color: black;
  }

  div.seat4bet div.dealerbutton {
    left: 85px;
  }

  div.seat5bet div.dealerbutton {
    left: 85px;
  }

  div.seat4bet div.betchip {
    background-position: 85px 0px;
    padding-left: 0px;
    padding-right: 33px;
    text-align: right;
  }

  div.seat5bet div.betchip {
    background-position: 85px 0px;
    padding-left: 0px;
    padding-right: 33px;
    text-align: right;
  }

  div.smallpiles {
    width: 1200px;
    height: 120px;
    position: relative;
    text-align: left;
    transform: scale(0.20);
    transform-origin: 0 0;
    vertical-align: bottom;
  }

  div.bigpiles {
    width: 720px;
    height: 120px;
    position: relative;
    text-align: left;
    transform: scale(0.40);
    transform-origin: 0 0;
    vertical-align: bottom;
  }

  div.betchips {
    width: 220px;
    height: 72px;
    position: relative;
  }

  div.playerstate {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
  }

  div.playerhand {
    position: absolute;
    top: -10px;
    right: 10px;
    width: 100px;
    height: 100px;
  }

  div.board {
    display: block;
    height: 80px;
    position: absolute;
    top: 265px;
    left: 480px;
    transform-origin: 0 0;
    transform: scale(0.65);
    margin-left: -100px;
  }

  div.board .cardwrap:not(:first-child) {
    margin-left: 35px;
  }

  div.playerpiles {
    position: relative;
    padding: 5px;
    height: 40px;
    width: 220px;
  }

  div.pokertable {
    position: relative;
    background-image: url('/pokertable.png');
    height: 630px;
    width: 1080px;
    background-size: 1000px 550px;
    background-repeat: no-repeat;
    background-position: 40px 40px;
    transform-origin: 0 0;
    transform: scale(0.5);
  }
  
  div#tables {
    vertical-align: top;
    display: inline-block;
    height: 290px;
    width: 580px;
  }

  div.betplaque button {
    position: relative;
    height: 50px;
    width: 80px;
    z-index: 10;
  }

  div#indicatorbar {
    position: absolute;
    display: block;
    width: 600px;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 3em;
    top: 0%;
    left: 0%;
    background-color: #666666dd;
    z-index: 100;
  }

  div.tables {
    z-index: 40;
  }

  div#gamecommands {
    position: relative;
    display: block;
    padding: 1em;
  }

  div#gamecommands button {
    width: 100px;
    padding: 1em;
    margin-right: 2em;
  }

  div#menu {
    position: absolute;
    display: block;
    top: 15px;
    left: 15px;
    width: 300px;
    background-color: #000055ee;
    color: white;
    padding: 10px;
    z-index: 200;
    display: none;
  }
  div#closemenu {
    padding-bottom: 10px;
  }

  div#dialog {
    display: none;
    position: absolute;
    top: 45px;
    left: 45px;
    background-color: #333333ff;
    color: white;
    z-index: 400;
  }

  button.menu {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .playercamera {
    max-width: 100px;
    max-height: 100px;
    display: block;
    border-radius: 8px;
  }

  body {
    background-color: #000022ff;
    color: white;
  }

  div#sizer {
    width: 1280px;
    transform-origin: 0 0;
  }
