  div.dealerbutton {
    display: inline-block;
    position: absolute;
    background-image: url('/dealerbutton.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    bottom: -30px;
    left: -20px;
    height: 40px;
    width: 40px;
    z-index: 80;
  }

  div.card {
    display: inline-block;
    background-image: url('/cards.png');
    background-repeat: no-repeat;
    height: 80px;
    width: 60px;
  }

  div.hand {
    display: inline-block;
    height: 80px;
  }

  div.shrink {
    transform: scale(0.5);
    transform-origin: 0 0;
  }

  div.cardsettings {
    display: inline-block;
    position: absolute;
    background-image: url('/cardsettings.png');
    background-repeat: no-repeat;
    background-size: 40px 40px;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
  }

  div.tableopts {
    position: absolute;
    top: 60px;
    left: 10px;
    color: white;
    width: 200px;
    height: 200px;
  }

  div.tinfo {
    padding: 3px;
    font-size: 14pt;
    font-weight: bold;
  }

  div.tinfo > tt {
    color: yellow;
    font-weight: bold;
    font-size: 16pt;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .eventanim {
    display: inline-block;
    position: absolute;
    font-weight: 900;
    font-size: 24pt;
    color: gold;
    font-family: "Courier New", Courier, monospace;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  div.myhand {
    position: absolute;
    display: inline-block;
    padding: 5px;
    background-color: lightgreen;
    transform: scale(2.0);
    transform-origin: 0 0;
    z-index: 20;
  }

  div.lower {
    position: relative;
  }

  div.indicator {
    position: relative;
    left: 300px;
    top: -10px;
    height: 30px;
    width: 220px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding-top: 10px;
    padding: 4px;
    background-color: #ddddffaa;
    border: 1px solid red;
    z-index: 30;
  }

  div#logscreen {
    overflow: scroll;
    width: 400px;
    height: 400px;
    position: absolute;
    left: 650px;
    top: 50px;
    color: white;
  }

  div.betplaque {
    position: relative;
    left: 300px;
    top: 0px;
    display: inline-block;
    padding: 5px;
    background-color: #ffddddaa;
    border: 1px solid red;
    z-index: 30;
  }
  input.betp {
    width: 5em;
    text-align: right;
  }

  div.board {
    display: block;
    height: 80px;
  }

  div.bg {
    background-image: url('/cardback1.png');
    background-size: 60px 80px;
    background-repeat: repeat;
    width: 60px;
    height: 80px;
    display: inline-block;
  }

  div.hand .card:not(:first-child) {
    margin-left: -20px;
  }

  div.pilecontainer {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    height: 154px;
    width: 129px;
  }
  ul.pile {
    display: inline-block;
    position: absolute;
    bottom: 50px;
    left: 0px;
    list-style-type: none;
    left: 5px;
    width: 129px;
    margin: 0;
    padding: 0;
  }

  ul.pile li {
    padding: 0;
    margin: 0;
    position: relative;
    width: 129px;
    margin-top: -10px;
    height: 5px;
  }

  div.chip {
    display: inline-block;
    background-image: url('/allchips.png');
    background-repeat: no-repeat;
    width: 129px;
    height: 59px;
  }

  div.playerinfo {
    position: absolute;
    display: inline-block;
    width: 220px;
    height: 130px;
    margin-left: -110px;
  }

  div.playerdata {
    display: block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 220px;
    background-color: #ffff00dd;
    border: 3px solid black;
    border-radius: 10px;
  }

  div.playerdata.TURN {
    background-color: #ffffffdd;
  }

  div.playerdata.BET {
    background-color: #ffaaaadd;
  }

  div.playerdata.WAITING {
    background-color: #bbbbbbdd;
  }

  div.playerdata.ALLIN {
    background-color: #aa6666dd;
  }

  div.playerdata.FOLDED {
    background-color: #666666dd;
  }

  div.playername {
    padding: 5pt;
    font-size: 120%;
    font-weight: bold;
    height: 24px;
  }
  div.playername > tt {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: bold;
    font-size: 20px;
    color: darkred;
  }

  div.pot {
    position: absolute;
    display: inline-block;
    text-align: right;
    padding: 5px;
    height: 40px;
    width: 220px;
    margin-left: -75px;
    top: 55%;
    left: 50%;
  }

  div.playerbet {
    position: absolute;
    display: inline-block;
    text-align: right;
    padding: 5px;
    height: 40px;
    width: 220px;
    margin-left: -75px;
  }

  tt.betamt {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 10px;
    color: white;
  }

  div.smallpiles {
    width: 1200px;
    height: 120px;
    position: relative;
    text-align: left;
    transform: scale(0.20);
    transform-origin: 0 0;
    vertical-align: bottom;
  }

  div.bigpiles {
    width: 720px;
    height: 120px;
    position: relative;
    text-align: left;
    transform: scale(0.40);
    transform-origin: 0 0;
    vertical-align: bottom;
  }

  div.betchips {
    width: 220px;
    height: 72px;
    position: relative;
  }

  div.playerstate {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    vertical-align: top;
  }

  div.playerhand {
    position: absolute;
    top: 0px;
    right: 10px;
  }

  div.board {
    position: absolute;
    top: 45%;
    left: 50%;
    transform-origin: 0 0;
    transform: scale(0.8);
    margin-left: -120px;
  }

  div.playerpiles {
    position: relative;
    padding: 5px;
    height: 40px;
    width: 220px;
  }

  div.pokertable {
    position: relative;
    height: 600px;
    width: 1000px;
    background-image: url('/pokertable.png');
    background-size: 900px 370px;
    background-repeat: no-repeat;
    background-position: 50px 130px;
    transform-origin: 0 0;
    transform: scale(0.6);
  }
  
  div#tables {
    height: 370px;
    width: 600px;
  }

  div.betplaque input {
    font-size: 14pt;
    margin-bottom: 5px;
    width: 160px;
  }

  div.betplaque button {
    height: 50px;
    width: 80px;
    z-index: 10;
  }

  div#indicatorbar {
    position: absolute;
    display: block;
    width: 600px;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-weight: bold;
    padding-top: 3em;
    padding-bottom: 3em;
    top: 380px;
    left: 0%;
    background-color: #666666dd;
    z-index: 100;
  }

  div.tables {
    z-index: 40;
  }

  button.gamecommand {
    display: block;
    background-color: gray;
    padding: 1em;
  }

  div#menu {
    position: absolute;
    display: block;
    top: 20px;
    left: 20px;
    width: 300px;
    background-color: #000055ee;
    color: white;
    padding: 10px;
    height: 60px;
    z-index: 200;
    display: none;
  }
  div#closemenu {
    padding-bottom: 10px;
  }

  body {
    background-color: #000022ff;
    color: white;
  }
