/* Top row */
.seat0 {top: 28%; left: 15%;}
.seat1 {top: 5%; left: 25%;}
.seat2 {top: 5%; left: 50%;}
.seat3 {top: 5%; left: 75%;}
/* Right side */
.seat4 {top: 28%; left: 85%;}
.seat5 {top: 52%; left: 85%;}
/* Bottom row */
.seat6 {top: 75%; left: 75%;}
.seat7 {top: 75%; left: 50%;}
.seat8 {top: 75%; left: 25%;}
/* Left side */
.seat9 {top: 52%; left: 15%;}

.seat1bet {top: 185px; left: 405px;}
.seat2bet {top: 185px; left: 540px;}
.seat3bet {top: 185px; left: 745px;}
.seat4bet {top: 255px; left: 750px;}
.seat5bet {top: 360px; left: 750px;}
.seat6bet {top: 418px; left: 745px;}
.seat7bet {top: 418px; left: 540px;}
.seat8bet {top: 418px; left: 405px;}
.seat9bet {top: 360px; left: 365px;}
.seat0bet {top: 255px; left: 365px;}
