<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <link rel="stylesheet" type="text/css" href="/poker.css" />
    <link rel="stylesheet" type="text/css" href="/seats.css" />
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>
    <script type="text/javascript" src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />
    <script type="text/javascript" src="/underscore-min.js"></script>
    <script type="text/javascript" src="/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/rollpoker.js"></script>
    <script type="text/javascript" src="/views.js"></script>
    <script type="text/javascript" src="/register.js"></script>
    <script type="text/javascript" src="/signup.js"></script>
  </head>
  <script type="text/template" id="adminlogin">
    <input type="text" name="adminpw" placeholder="Admin Password">
  </script>
  <script type="text/template" id="maintable">
      <div class="tableopts" id="tableopts">
        <% if (game.CurrentBlinds) { %>
          <% if (game.CurrentBlinds[0]) { %>
            <div class="tinfo">SB: <tt><%= game.CurrentBlinds[0] %></tt></div>
          <% } %>
          <% if (game.CurrentBlinds[1]) { %>
            <div class="tinfo">BB: <tt><%= game.CurrentBlinds[1] %></tt></div>
          <% } %>
        <% } %>
        <% for (var seat in table.Seats) { var player = players[table.Seats[seat]]; %>
          <% if (player.State == "TURN") { %>
            <div class="tinfo">Betting: <tt><%= player.DisplayName %></tt></div>
          <% } %>
        <% } %>
        <div class="tinfo">Pot: <tt><%= table.Pot %></tt></div>
      </div>
    <% for (var seat in table.Seats) { var player = players[table.Seats[seat]]; %>
      <div id="<%= player.uid %>" class="playerinfo <%= seat %> <%= player.State %>">
        <div class="playerhand hand">
        <% if (player.uid == Player.uid) { %>
          <% _.each(Table.DecryptMyHand(player.Hand), function(cardval) { %>
            <div class="card <%= cardval %>"></div>
          <% }); %>
        <% } else { %>
          <% _.each(Table.GetHand(player.Hand), function(cardval) { %>
            <div class="card <%= cardval %>"></div>
          <% }); %>
        <% } %>
        </div>
        <% if (player.uid == table.Seats[table.Dealer]) { %>
          <div class="dealerbutton"></div>
        <% } %>
        <div class="playerdata <%= player.State %>">
        <div class="playername"><%= player.DisplayName %><tt class="cash"><%= player.Chips %></tt></div>
        <div class="playerstate">
          <%= player.DisplayState %>
        </div>
        </div>
      </div>
      <% if (player.Bet > 0) { %>
        <div class="<%= seat %>bet playerbet"><%= Table.ChipStack(player.Bet) %><tt class="betamt"><%= player.Bet %></tt></div>
      <% } %>
    <% } %>
    <% if (table) { %>
      <% if (table.Pot > 0) { %>
        <div class="pot"><%= Table.ChipStack(table.Pot) %><tt class="betamt"><%= table.Pot %></tt></div>
      <% } %>
      <% if (table.Cards && table.Cards.board) { %>
        <div class="board">
        <% _.each(table.Cards.board, function(cardval) { %>
          <div class="card <%= cardval %>"></div>
        <% }); %>
        </div>
      <% } %>
    <% } %>
  </script>
  <script type="text/template" id="menucontents">
    <div id="closemenu"><tt>X</tt> GAME MENU:</div>
    <label>Name: <input type="text" class="menutext" placeholder="Display Name" name="DisplayName" value="<%= Player.info.DisplayName %>"></label><br>
    <% if (window.Notification && window.Notification.permission != "granted") { %>
      <button id="notifications">Enable Notifications</button>
    <% } %>
  </script>
  <script type="text/template" id="tableview">
    <div id="tables">
      <div id="mytable" class="pokertable"></div>
      <% if (Player.uid) { %>
      <div class="cardsettings" id="cardsettings"></div>
      <div id="menu"></div>
      <% } %>
    </div>
    <div id="logscreen"></div>
    <% if (Player.uid && Player.state != "BUSTED") { %>
      <div id="lower">
        <div id="myhand" class="grow myhand"></div>
        <div id="indicator" class="indicator"></div><br>
        <div id="betplaque" class="betplaque"></div>
        <div id="indicatorbar" style="display:none;"><tt id="indication"></tt><button id="cancelindicate">(Oops, Cancel)</button></div>
      </div>
    <% } %>
  </script>
  <script type="text/template" id="myhandview">
    <% _.each(Table.DecryptMyHand(player.Hand), function(cardval) { %>
      <div class="card <%= cardval %>"></div>
    <% }); %>
  </script>
  <script type="text/template" id="betplaqueview">
    <div id="mybetchips" class="betchips"></div>
    <div class="beti"><input class="betp" type="text" name="amount" value="">&nbsp;&nbsp;&nbsp;<tt class="betdesc">(Call)</tt></div>
    <div class="betbuttons">
      <button class="bet" name="betcall"> (Call)</button>
      <button class="bet" name="betsub">- BB</button>
      <button class="bet" name="betadd">+ BB</button>
    </div>
  </script>
  <script type="text/template" id="joinview">
    <% if (!_.isEmpty(data.Players)) { %>
      <h3>Players currently signed up for the tournament:</h3>
      <div id="signups">
        <ul>
        <% for (var uid in data.Players) { var pl = data.Players[uid]; %>
          <li id="<%= uid %>">
          <div class="playername"><%= pl.DisplayName %><% if (Player.uid == uid) { %> (You!)<% } %></div>
          </li>
        <% } %>
        </ul>
      </div>
    <% } %>
    <div class="invites" style="width: 400px; padding: 0.5em; border: 1px solid black;">
      <br>
      <% if (Player.info) { %>
        You are registered for the upcoming tournament.<br><br>
        <% var count = _.keys(Game.data.Players).length; if (count > 1) { %>
        <button id="startgame" class="gamebutton">Start the Tournament with <%= count %> players!</button>
        <% } %>
      <% } else if (Game.data.Members && Game.data.Members.length > 0) { %>
        <form id="signup">
        <button class="gamebutton">Sign up for the next Tournament</button>
        </form>
      <% } else { %>
        Hello - Only Members of this table (if it exists) may see or join tournaments. Please
        enter the room password and join!
        <form id="joingroup">
        <label>Display Name: <input type="text" name="dispname" id="DisplayName" placeholder="Display Name" value="<%= Player.authuser.displayName %>"></label><br>
        <label>Room Password: <input type="text" name="roompass" id="RoomPass" placeholder="Game Password" value=""></label><br><br>
        <button class="gamebutton">Join Group</button>
        </form>
      <% } %>
      <% if (Game.data.Members && _.keys(Game.data.Members).length > 0) { %>
      <br><br>
        Members of <%= Game.name %>:<br>
        <%= _.values(Game.data.Members).join(", ") %>
      <% } %>
    </div>
  </script>
  <script type="text/template" id="registerview">
    Hello - Please register so we know who you are!<br>
    <br>
    <div id="firebase-register"></div>
  </script>
  <body>
  </body>
</html>
