<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="cards.css" />
  <script type="text/javascript" src="underscore-min.js"></script>
  <script type="text/javascript" src="jquery-3.4.1.min.js"></script>
  <script type="text/javascript" src="cards.js"></script>
  </head>
  <body onLoad="onBodyLoad()">
    <div class="pokertable">
      <!-- Top row -->
      <div id="player1"  class="playerinfo" style="top: 5%; left: 25%;"></div>
        <div id="player1bet" class="playerbet" style="top: 26%; left: 32%;"></div>
      <div id="player2"  class="playerinfo" style="top: 5%; left: 50%;"></div>
        <div id="player2bet"  class="playerbet" style="top: 26%; left: 50%;"></div>
      <div id="player3"  class="playerinfo" style="top: 5%; left: 75%;"></div>
        <div id="player3bet"  class="playerbet" style="top: 26%; left: 68%;"></div>
      <!-- Right side -->
      <div id="player4"  class="playerinfo" style="top: 28%; left: 85%;"></div>
        <div id="player4bet"  class="playerbet" style="top: 42%; left: 70%;"></div>
      <div id="player5"  class="playerinfo" style="top: 52%; left: 85%;"></div>
        <div id="player5bet"  class="playerbet" style="top: 52%; left: 70%;"></div>
      <!-- Bottom row -->
      <div id="player6"  class="playerinfo" style="top: 75%; left: 75%;"></div>
        <div id="player6bet"  class="playerbet" style="top: 68%; left: 68%;"></div>
      <div id="player7"  class="playerinfo" style="top: 75%; left: 50%;"></div>
        <div id="player7bet"  class="playerbet" style="top: 68%; left: 50%;"></div>
      <div id="player8"  class="playerinfo" style="top: 75%; left: 25%;"></div>
        <div id="player8bet"  class="playerbet" style="top: 68%; left: 32%;"></div>
      <!-- Left side -->
      <div id="player9"  class="playerinfo" style="top: 52%; left: 15%;"></div>
        <div id="player9bet"  class="playerbet" style="top: 52%; left: 30%; text-align: left;"></div>
      <div id="player10" class="playerinfo" style="top: 28%; left: 15%;"></div>
        <div id="player10bet" class="playerbet" style="top: 42%; left: 30%; text-align: left;"></div>
    </div>
  <script type="text/template" id="playertpl" style="display: none;">
    <div class="playername"><%= name %><tt class="cash"><%= chips %></tt></div>
    <div class="playerpiles">&nbsp;</div>
    <div class="playerstate"><%= state %></div>
    <div class="playerhand hand">
      <div class="card cardbg"></div>
      <div class="card cardbg"></div>
      <div class="card spade1"></div>
      <div class="card heart1"></div>
    </div>
  </script>
  </body>
</html>
