<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
    <link rel="stylesheet" type="text/css" href="/poker.css" />
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/7.14.0/firebase-app.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/7.14.0/firebase-auth.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/firebasejs/7.14.0/firebase-firestore.js"></script>
    <script type="text/javascript">
      // Your web app's Firebase configuration
      var firebaseConfig = {
        apiKey: "AIzaSyAsTsJ7UjBQu8CMADJP-JFysn6ON8Hm77M",
        authDomain: "rollpoker.firebaseapp.com",
        databaseURL: "https://rollpoker.firebaseio.com",
        projectId: "rollpoker",
        storageBucket: "rollpoker.appspot.com",
        messagingSenderId: "413322307823",
        appId: "1:413322307823:web:2d12f3485f45d55b12d31a"
      };
      // Initialize Firebase
      firebase.initializeApp(firebaseConfig);
    </script>
    <script type="text/javascript" src="/underscore-min.js"></script>
    <script type="text/javascript" src="/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/tablerender.js"></script>
    <script type="text/javascript" src="/signup.js"></script>
    <script type="text/javascript" src="/events.js"></script>
    <script type="text/javascript" src="/poker.js"></script>
  </head>
  <script type="text/template" id="tabletpl">
    <div class="pokertable">
      <!-- Top row -->
      <div class="seat1 playerinfo" style="top: 5%; left: 25%;"></div>
        <div class="seat1bet playerbet" style="top: 26%; left: 32%;"></div>
      <div class="seat2 playerinfo" style="top: 5%; left: 50%;"></div>
        <div class="seat2bet playerbet" style="top: 26%; left: 50%;"></div>
      <div class="seat3 playerinfo" style="top: 5%; left: 75%;"></div>
        <div class="seat3bet playerbet" style="top: 26%; left: 68%;"></div>
      <!-- Right side -->
      <div class="seat4 playerinfo" style="top: 28%; left: 85%;"></div>
        <div class="seat4bet playerbet" style="top: 42%; left: 70%;"></div>
      <div class="seat5 playerinfo" style="top: 52%; left: 85%;"></div>
        <div class="seat5bet playerbet" style="top: 52%; left: 70%;"></div>
      <!-- Bottom row -->
      <div class="seat6 playerinfo" style="top: 75%; left: 75%;"></div>
        <div class="seat6bet playerbet" style="top: 68%; left: 68%;"></div>
      <div class="seat7 playerinfo" style="top: 75%; left: 50%;"></div>
        <div class="seat7bet playerbet" style="top: 68%; left: 50%;"></div>
      <div class="seat8 playerinfo" style="top: 75%; left: 25%;"></div>
        <div class="seat8bet playerbet" style="top: 68%; left: 32%;"></div>
      <!-- Left side -->
      <div class="seat9 playerinfo" style="top: 52%; left: 15%;"></div>
        <div class="seat9bet playerbet" style="top: 52%; left: 30%; text-align: left;"></div>
      <div class="seat0 playerinfo" style="top: 28%; left: 15%;"></div>
        <div class="seat0bet playerbet" style="top: 42%; left: 30%; text-align: left;"></div>
    </div>
  </script>
  <script type="text/template" id="signuptpl">
    <h3>Players currently involved:</h3>
    <ul id="signuplist">
    </ul><br>
    <div class="invites" style="width: 400px; padding: 0.5em; border: 1px solid black;">
    <form id="joingameform">
      <input type="text" name="DisplayName" placeholder="Display Name" value=""><br>
      <input type="text" name="Email" placeholder="Email Address" value=""><br><i>We only use an email address once, to send an invite link to, it is never saved.</i><br>
      <button id="joingame">Send Invitation to Email</button>
    </form>
    </div>
    <button id="leavegame" class="gamebutton">Leave the Game</button>
    <button id="startgame" class="gamebutton">Start the Game!</button>
  </script>
  <script type="text/template" id="signupplayertpl">
    <div class="playername"><%= DisplayName %><% if (Poker.PLAYER_ID == PlayerId) { %> (You!)<% } %></div>
  </script>
  <script type="text/template" id="playertpl">
    <div class="playername"><%= name %><tt class="cash"><%= chips %></tt></div>
    <div class="playerpiles">&nbsp;</div>
    <div class="playerstate"><%= state %></div>
    <div class="playerhand hand">
      <% for (var i = 0; i < cards.length; i++) { %>
        <div class="card <%= cards[i] %>"></div>
      <% } %>
    </div>
  </script>
  <body>
  </body>
</html>
